<form>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="example@domain.com">
  </div>
  <div class="form-group">
    <label for="inputFirstName">First name</label>
    <input type="text" class="form-control" id="inputFirstName" placeholder="Hans">
  </div>
  <div class="form-group">
    <label for="inputLastName">Last name</label>
    <input type="text" class="form-control" id="inputLastName" placeholder="Müller">
  </div>
  <div class="form-group">
    <label for="inputState">State</label>
    <input type="text" class="form-control" id="inputState" placeholder="Bavaria">
  </div>
  <div class="form-group">
    <label for="inputCity">Last name</label>
    <input type="text" class="form-control" id="inputCity" placeholder="München">
  </div>
  <div class="form-group">
    <label for="inputZip">Zip</label>
    <input type="text" class="form-control" id="inputZip" placeholder="80634">
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Aldrianstraße 11">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="password">
  </div>
  <div class="form-group">
    <label for="inputPasswordVerify">Password (again)</label>
    <input type="password" class="form-control" id="inputPasswordVerify" placeholder="password again">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
